/* Small devices (mobile, 320px and up) */
/* 
@media only screen and (max-width: 320px){


} */

/* Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px){
  /* header */
  .header__social{
    width: 50%;
    padding: 0px;
  }
  
  .header__contact__list{
    width: 50%;
  }

/* menu */
.nav__button {
  display: none;
}

.checkbtn{
  display: block;
  cursor: pointer;
}
  
.nav__menu ul {
  text-align: center;
  width: 100%;
  position: fixed;
  left: -200%;
  top: 80px;
  transition: all .5s;
  background-color:antiquewhite
}

.nav__menu ul li {
  display:block ;
}

.nav__menu ul li a{
  color: #fff;
}

#check:checked ~ ul{
  left: 0;
}


  /* slider */
  .slider__title{
  font-size: 40px;
  padding: 10px 0px;
  }
  
  /* services*/
.services__container{
    display: block;
}
  /* welcome */

  
  /* welcome docmed */
.welcome__docmed__area {
    padding: 0px 20px 0px;
}

div.single__docmed__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
      
  /* dpertment */
.depertment__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* testimonial */

/* business */
.business__content {
  display: block;
  padding: 0px 40px;
}

.business__info {
  padding: 25px 0px;
}
.business__item {
  padding: 20px 10px;
}

.business__thumb{
  margin-left: 30px;
}

/* expert doctor */

.single__doctor__container {
  display: grid;
}

/* Emergency contact */
.Emergency__contact__area {
  display: block;
}
  /* footer */
.single__container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
} 

}