/* Small devices (landscape phones, less than 768px) */

@media only screen and (max-width: 768px){
  /* header */
  .header__social{
    width: 50%;
    padding: 0px;
  }
  
  .header__contact__list{
    width: 50%;
  }

/* menu */
.nav__button {
  display: none;
}

.checkbtn{
  display: block;
  cursor: pointer;
}
  
.nav__menu ul {
  z-index: 5;
  text-align: center;
  width: 100%;
  position: fixed;
  left: -200%;
  top: 80px;
  transition: all .5s ease-in;
  background-color: rgba(107, 107, 107, 0.667);
}

.nav__menu ul li {
  display:block ;
}

.nav__menu ul li a{
  color: #fff;
}

#check:checked ~ ul{
  left: 0;
}


  /* slider */
  .slider__title{
  font-size: 40px;
  padding: 10px 0px;
  }
  
  /* services*/
.services__container{
    display: block;
}
  /* welcome */

  
  /* welcome docmed */
.welcome__docmed__area {
    padding: 0px 20px 0px;
}

div.single__docmed__box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
      
  /* dpertment */
.depertment__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* testimonial */

/* business */
.business__content {
  display: block;
  padding: 0px 40px;
}

.business__info {
  padding: 25px 0px;
}
.business__item {
  padding: 15px 0px;
}

.business__thumb{
  margin-left: 30px;
}

/* expert doctor */

.single__doctor__container {
  display: grid;
}

/* Emergency contact */
.Emergency__contact__area {
  display: block;
}
  /* footer */
.single__container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 20px;
} 

}

 /* X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 576px) {
  .header__social{
  width: 20%;
  padding: 0px;
 }

 .header__contact__list{
   width: 71%;
 }

 .business__item a{
   padding: 0px 24px;
 }

}



/* 
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { ... }

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */